#header{
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 4rem;
    border-bottom:solid 1px rgba(100, 100, 111, 0.2);
    color: #bd5156;
    i{
        cursor: pointer;
    }
    span{
        margin-left: 4rem;
    }
}